{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .container {
      padding: 0;
      margin: 0, auto;
    }
    .container a{
      with: 45%;
      max-width: 250px;
    }
    .container div {
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
    .container img{
      width: 100%;
      border-radius: 1rem;
    }

</style>

  {% if project_list %}
  <div class="container">
    {% for project in project_list %}
    <a href="{% url 'projectapp:detail' pk=project.pk %}">
        {% include 'snippets/card.html' with i_item=project %}
    </a>
    {% endfor %}
  </div>
  <script src="{% static 'js/magicgrid.js' %}"></script>
  {% else %}
  <div style="text-align: center ">
    <h1>No Project</h1>
  </div>
  {% endif %}

  <div style="text-align: center ">
    <a href="{% url 'projectapp:create' %}" class="btn btn-dark rounded-pill col-6 mt-3">
      Create
    </a>
  </div>

{% endblock %}