{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
    .container img{
      width: 100%;
      border-radius: 1rem;
    }

</style>

<div class="container">
  <div class="item1">
    <img src="https://picsum.photos/200/300">
  </div>
  <div class="item2">
    <img src="https://picsum.photos/200/180">
  </div>
  <div class="item3">
    <img src="https://picsum.photos/200/200">
  </div>
  <div class="item4">
    <img src="https://picsum.photos/200/360">
  </div>
  <div class="item5">
    <img src="https://picsum.photos/200/260">
  </div>
  <div class="item6">
    <img src="https://picsum.photos/200/300">
  </div>
</div>

<div style="text-align: center ">
  <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-6 mt-3">
    Create
  </a>
</div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}